html {
    font-family: 'Segoe UI', sans-serif; // Font
    font-size: 16px; // Font mérete (16px=12pt)
    line-height: 1.5; // Sormagasság, 16px*1.5=24px, tipikus mostanában
    background: #333336; // Sötét téma sötét háttérrel
    color: white; // Sötét téma fehér betűkkel
    }
    